
*{
    background-color: rgb(226, 214, 188);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.retangulo {
    width: 50%;
    height: 200px;
    background-color: aqua;
    margin: 0 auto 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
}

.quadrado {
    width: 150px;
    height: 150px;
}

.verde {
    background-color: #9fff06;
}

.roxo {
    background-color: rgb(174, 0, 255);
}

.semaforo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 30px;
}

.sinal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.vermelho {
    background-color: #db0e0e;
}
.amarelo {
    background-color: #f8cf16;
}
.verde {
    background-color: #38db17;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 20px;
    background-color: cadetblue;
    width: 220px;
    border-radius: 25px;
    margin: 0 auto 30px;
}

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.navegacao {  
    color: rgb(0, 150, 150);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 20px;
    border: 2px solid rgb(0, 150, 150);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.5s ease;
}

.navegacao:hover {
   border-radius: 50%
}


.vermelho {
    background-color: #db0e0e;
}

.amarelo {
    background-color: #face0b;
}

.verde {
    background-color: #38db17;
}