
@import url('https://fonts.googleapis.com/css2?family=Federant&family=Playwrite+CA:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegação {
    text-decoration: none;
}
  
body {
    font-family: "Federant", serif;
    padding: 20px;
    background-color: blueviolet;
}

h1 {
    font-size: 2.5rem;
}

section {
   margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
    color: black;
}

.flex-container {
    width: 90%;
    height: 200px;
    background-color: rgb(55, 224, 154);
    margin: 0 auto 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    border-radius: 20px;
    border: 3px solid ;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: rgb(131, 203, 214);
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}

.navegacao {  
    color: rgb(55, 224, 154);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 20px;
    border: 2px solid rgb(55, 224, 154);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.5s ease;
}

.navegacao:hover {
    border-radius: 50%
 }

